/*similar styles*/
#mainHeaders, #line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #line10 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.description {
    height: 64px;
    width: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    height: 64px;
    width: 122px;
    text-align: center;
}

.priority {
    height: 64px;
    width: 50px;
    text-align: center;
}

.frequency {
    height: 64px;
    width: 120px;
}

.input {
    height: 64px;
    width: 150px;
}

.doubleInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}